In [ ]:
#Link: https://www.yesbackpage.com/87/posts/8-Adult/122-Female-Escorts/

In [ ]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd

In [ ]:
#response = requests.get('https://www.yesbackpage.com/87/posts/8-Adult/') #get rid of those lame-o's that post a housing option without a pic using their filter

#html_soup = BeautifulSoup(response.text, 'html.parser')
nashurl = 'https://www.yesbackpage.com/287/posts/8-Adult/'
atlurl = 'https://www.yesbackpage.com/87/posts/8-Adult/'
austinurl = 'https://www.yesbackpage.com/291/posts/8-Adult/'

nashurl = 'https://www.yesbackpage.com/287/posts/8-Adult/'
atlurl = 'https://www.yesbackpage.com/87/posts/8-Adult/'
austinurl = 'https://www.yesbackpage.com/291/posts/8-Adult/'

houstonurl = 'https://www.yesbackpage.com/299/posts/8-Adult/'
nycurl = 'https://www.yesbackpage.com/213/posts/8-Adult/'
laurl = 'https://www.yesbackpage.com/35/posts/8-Adult/'
dcurl = 'https://www.yesbackpage.com/66/posts/8-Adult/'
chiurl = 'https://www.yesbackpage.com/105/posts/8-Adult/'
lvurl = 'https://www.yesbackpage.com/191/posts/8-Adult/'
colurl = 'https://www.yesbackpage.com/236/posts/8-Adult/'
dallasurl = 'https://www.yesbackpage.com/296/posts/8-Adult/'
sandiegourl = 'https://www.yesbackpage.com/45/posts/8-Adult/'

url_list = [nashurl, atlurl, austinurl]
url_list_top10 = [houstonurl, nycurl, laurl, dcurl, chiurl, lvurl , atlurl, colurl, dallasurl, sandiegourl]
cities = ['Nashville', 'Atlanta', 'Austin']
top10_cities = ['Houston, TX', 'New York, NY', 'Los Angeles, CA', 'Washington D.C.', 'Chicago, IL', 'Las Vegas, NV', 'Atlanta, GA', 'Columbus, OH', 'Dallas, TX', 'San Diego, CA']

In [ ]:
df = pd.DataFrame(columns = ["City", "Title", "URL", "Text", "Name", "Sex", "Age", "Sexual Orientation", "Services", "Services Provided For", "Location"])

In [ ]:
i = 0
citynum = 0
for city in url_list:
    response = requests.get(city) 

    html_soup = BeautifulSoup(response.text, 'html.parser')
    results2 = html_soup.find_all('a', class_='posttitle')
    mycity = cities[citynum]
    citynum = citynum + 1
    for result in results2:
        title = result.text[2:]
        URL = 'https://www.yesbackpage.com/' + result['href']

        sub_response = requests.get(URL) 
        html_soup_sub = BeautifulSoup(sub_response.text, 'html.parser')
        text = html_soup_sub.find('div', class_='wrap').text[1:-2]
        try:
            rows = html_soup_sub.find_all('div', class_ = 'row')[1]
            text2 = rows.find_all('tr')


            name = text2[0].find_all('td')[1].text[2:]
            sex = text2[1].find_all('td')[1].text[2:]
            age = text2[2].find_all('td')[1].text[2:]
            sexualorientation = text2[3].find_all('td')[1].text[2:]
            services = text2[4].find_all('td')[1].text[2:]
            servicesprovidedfor = text2[6].find_all('td')[1].text[2:]
            location = text2[8].find_all('td')[1].text[2:]
        except:

            name = ''
            sex = ''
            age =''
            sexualorientation = ''
            services = ''
            servicesprovidedfor = ''
            location = ''



        df.loc[i] = [mycity, title, URL, text, name, sex, age, sexualorientation, services, servicesprovidedfor, location]
        i = i +1

In [ ]:
df.head()

Empty DataFrame
Columns: [City, Title, URL, Text, Name, Sex, Age, Sexual Orientation, Services, Services Provided For, Location]
Index: []

In [ ]:
df.to_excel("webscrape_backpage.xlsx")

In [ ]:
df2 = pd.DataFrame(columns = ["City", "Title", "URL", "Text", "Name", "Sex", "Age", "Sexual Orientation", "Services", "Services Provided For", "Location"])

In [ ]:
i = 0
skipped = 0
citynum = 0
for city in url_list_top10:
    #response = requests.get(city) #get rid of those lame-o's that post a housing option without a pic using their filter

    #html_soup = BeautifulSoup(response.text, 'html.parser')
    #results2 = html_soup.find_all('a', class_='posttitle')
    #mycity = top10_cities[citynum]
    #citynum = citynum + 1
    mycity = top10_cities[citynum]
    for page in range(1,11):
        response = requests.get(city + 'page' + str(page) + '.html') #get rid of those lame-o's that post a housing option without a pic using their filter
        html_soup = BeautifulSoup(response.text, 'html.parser')
        results2 = html_soup.find_all('a', class_='posttitle')
        
        for result in results2:
            
            title = result.text[2:]
            URL = 'https://www.yesbackpage.com/' + result['href']
            try:
                sub_response = requests.get(URL) #get rid of those lame-o's that post a housing option without a pic using their filter
                html_soup_sub = BeautifulSoup(sub_response.text, 'html.parser')
                text = html_soup_sub.find('div', class_='wrap').text[1:-2]
            except:
                skipped = skipped+1
                text = ''

            try:
                rows = html_soup_sub.find_all('div', class_ = 'row')[1]
                text2 = rows.find_all('tr')
                


                name = text2[0].find_all('td')[1].text[2:]
                sex = text2[1].find_all('td')[1].text[2:]
                age = text2[2].find_all('td')[1].text[2:]
                sexualorientation = text2[3].find_all('td')[1].text[2:]
                services = text2[4].find_all('td')[1].text[2:]
                servicesprovidedfor = text2[6].find_all('td')[1].text[2:]
                location = text2[8].find_all('td')[1].text[2:]
            except:
                
                name = ''
                sex = ''
                age =''
                sexualorientation = ''
                services = ''
                servicesprovidedfor = ''
                location = ''
            df2.loc[i] = [mycity, title, URL, text, name, sex, age, sexualorientation, services, servicesprovidedfor, location]
            i = i +1

    citynum = citynum + 1

In [ ]:
df2.head()

          City  ...                   Location
0  Houston, TX  ...                Houston, TX
1  Houston, TX  ...                    Houston
2  Houston, TX  ...             (681) 246-2210
3  Houston, TX  ...  No specific location ğŸšŒ ğŸš˜
4  Houston, TX  ...                    Houston

[5 rows x 11 columns]

In [ ]:
df3 = df2.copy()

In [ ]:
df3 = df3[df3['Sex'] != '']

In [ ]:
df3 = df3[df3['Text'] != '']

49

In [ ]:
df3.to_csv('webscrape_backpage_top10.csv', index=False)

In [ ]:
df3['IsDuplicate'] = df3[['Title', 'Text','Age']].duplicated(keep= 'first') + df3[['Title', 'Text','Age']].duplicated(keep= 'last')
df3['IsDuplicate'] = df3['IsDuplicate'].astype(int)
df3.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/computation/expressions.py:178: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  f"evaluating in Python space because the {repr(op_str)} "

          City  ... IsDuplicate
0  Houston, TX  ...           0
1  Houston, TX  ...           0
2  Houston, TX  ...           0
3  Houston, TX  ...           0
4  Houston, TX  ...           0

[5 rows x 12 columns]

In [ ]:
df4 = df3.drop_duplicates(subset=['Title', 'Text','Age'], keep='first')
len(df4)

In [ ]:
df4.to_csv('webscrape_backpage_top10_reduced.csv', index=False)